In [1]:
import numpy as np
import pandas as pd

In [5]:
pd.__version__

'1.4.4'

### series

In [6]:
list1=[1,-3,2.8,'on']
series1=pd.Series(list1)

In [7]:
series1

0      1
1     -3
2    2.8
3     on
dtype: object

In [8]:
series2=pd.Series([2,4,7.7,'off'])

In [9]:
series2

0      2
1      4
2    7.7
3    off
dtype: object

In [11]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'])

In [12]:
series3

a    1
b    2
c    3
d    4
dtype: int64

In [13]:
series4=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float,name='series 4')

In [14]:
series4

a    1.0
b    2.0
c    3.0
d    4.0
Name: series 4, dtype: float64

In [16]:
#series from scalar
scalar_s=pd.Series(0.5,index=[1,2,3])
print(scalar_s)

1    0.5
2    0.5
3    0.5
dtype: float64

In [17]:
#series from dictionary
dict_s=pd.Series({'one':1,'two':2})
print(dict_s)

one    1
two    2
dtype: int64

In [18]:
s=pd.Series([1,3,5,7])

In [19]:
#accessing series elements
s[1]

3

In [20]:
s[0:3]

0    1
1    3
2    5
dtype: int64

In [21]:
max(s)

7

In [22]:
min(s)

1

## dataframe

In [23]:
ls=['a','b','c']

In [24]:
ls

['a', 'b', 'c']

In [25]:
df1=pd.DataFrame(ls)

In [26]:
df1

   0
0  a
1  b
2  c

In [27]:
ls2=np.arange(1,10).reshape(3,3)

In [28]:
ls2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [29]:
df2=pd.DataFrame(ls2)

In [30]:
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [31]:
dict1={'sn':[1,2,3,4],'id':[111,222,333,444]}

In [32]:
dict1

{'sn': [1, 2, 3, 4], 'id': [111, 222, 333, 444]}

In [33]:
df3=pd.DataFrame(dict1)

In [34]:
df3

   sn   id
0   1  111
1   2  222
2   3  333
3   4  444

## csv files

In [35]:
df=pd.read_csv('ODI data.csv')

In [36]:
df

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

In [37]:
type(df)

pandas.core.frame.DataFrame

In [38]:
df.columns

Index(['Unnamed: 0', 'Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS',
       'Ave', 'BF', 'SR', '100', '50', '0', 'Unnamed: 13'],
      dtype='object')

In [39]:
#use skiprows to skip rows-useful when header appears as first row and you want to make it header
df_sk_rows=pd.read_csv('ODI data.csv',skiprows=1)

In [40]:
df_sk_rows

,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,Unnamed: 14
0,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
1,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
2,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
3,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN
4,5,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
2495,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
2496,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
2497,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
2498,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

In [41]:
#skip multiple rows
df_mul_rows=pd.read_csv('ODI data.csv',skiprows=[2,3,5])

In [42]:
df_mul_rows

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
2,5,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,NaN
3,6,V Kohli (INDIA),2008-2019,242,233,39,11609,183,59.84,12445,93.28,43,55,13,NaN
4,7,JH Kallis (Afr/ICC/SA),1996-2014,328,314,53,11579,139,44.36,15885,72.89,17,86,17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2492,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
2493,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
2494,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
2495,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
2496,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

In [50]:
#make a column as index column
df=pd.read_csv('ODI data.csv',index_col='Unnamed: 0')

In [51]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

In [52]:
dfexpe=pd.read_csv('ODI data.csv',header=1)

In [53]:
dfexpe

,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,Unnamed: 14
0,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
1,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
2,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
3,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN
4,5,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
2495,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
2496,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
2497,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
2498,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

In [57]:
dfexpe=pd.read_csv('ODI data.csv',header=1)

In [58]:
dfexpe

,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,Unnamed: 14
0,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
1,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
2,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
3,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN
4,5,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
2495,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
2496,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
2497,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
2498,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

In [59]:
dfexpe=pd.read_csv('ODI data.csv',header=None,prefix='Column')

C:\Users\KIIT\AppData\Local\Temp\ipykernel_2784\563965403.py:1: FutureWarning: The prefix argument has been deprecated and will be removed in a future version. Use a list comprehension on the column names in the future.


  dfexpe=pd.read_csv('ODI data.csv',header=None,prefix='Column')

In [60]:
dfexpe

,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13,Column14
0,NaN,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
1,0.0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
2,1.0,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
3,2.0,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
4,3.0,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,45.0,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
2497,46.0,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
2498,47.0,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
2499,48.0,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
2500,49.0,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

In [63]:
dfexpe=pd.read_csv('ODI data.csv',names=[1,2,3,4,5,6,7,8,9,10,11,12,13,14])

In [64]:
dfexpe

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
NaN,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0.0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1.0,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2.0,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3.0,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45.0,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
46.0,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
47.0,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
48.0,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
49.0,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

In [65]:
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN

In [66]:
df.tail()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

# handle missing values

null, n/a are considered as NaN in pandas and are automatically detected

In [67]:
#replacing - with NaN, any string can be replaced with NaN
df=pd.read_csv('ODI data.csv',na_values='-')

In [68]:
df.tail()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
2495,45,ZS Ansari (ENG),2015-2015,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2496,46,Ariful Haque (BDESH),2018-2018,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2498,48,MD Bailey (NZ),1998-1998,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2499,49,GR Beard (AUS),1981-1981,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
newdf=pd.read_csv('ODI data.csv',na_values='-')

In [70]:
newdf

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452.0,41.0,18426.0,200*,44.83,21367.0,86.23,49.0,96.0,20.0,NaN
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380.0,41.0,14234.0,169,41.98,18048.0,78.86,25.0,93.0,15.0,NaN
2,2,RT Ponting (AUS/ICC),1995-2012,375,365.0,39.0,13704.0,164,42.03,17046.0,80.39,30.0,82.0,20.0,NaN
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433.0,18.0,13430.0,189,32.36,14725.0,91.20,28.0,68.0,34.0,NaN
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418.0,39.0,12650.0,144,33.37,16020.0,78.96,19.0,77.0,28.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2496,46,Ariful Haque (BDESH),2018-2018,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2498,48,MD Bailey (NZ),1998-1998,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2499,49,GR Beard (AUS),1981-1981,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
df.tail()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
2495,45,ZS Ansari (ENG),2015-2015,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2496,46,Ariful Haque (BDESH),2018-2018,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2498,48,MD Bailey (NZ),1998-1998,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2499,49,GR Beard (AUS),1981-1981,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
newdf=pd.read_csv('ODI data.csv',na_filter=False)

In [75]:
newdf

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,

In [2]:
df=pd.read_csv('ODI data.csv',na_values='-')

In [3]:
df

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452.0,41.0,18426.0,200*,44.83,21367.0,86.23,49.0,96.0,20.0,NaN
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380.0,41.0,14234.0,169,41.98,18048.0,78.86,25.0,93.0,15.0,NaN
2,2,RT Ponting (AUS/ICC),1995-2012,375,365.0,39.0,13704.0,164,42.03,17046.0,80.39,30.0,82.0,20.0,NaN
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433.0,18.0,13430.0,189,32.36,14725.0,91.20,28.0,68.0,34.0,NaN
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418.0,39.0,12650.0,144,33.37,16020.0,78.96,19.0,77.0,28.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2496,46,Ariful Haque (BDESH),2018-2018,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2498,48,MD Bailey (NZ),1998-1998,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2499,49,GR Beard (AUS),1981-1981,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isnull()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,False,False,False,False,True,True,True,True,True,True,True,True,True,True,True
2496,False,False,False,False,True,True,True,True,True,True,True,True,True,True,True
2497,False,False,False,False,True,True,True,True,True,True,True,True,True,True,True
2498,False,False,False,False,True,True,True,True,True,True,True,True,True,True,True
2499,False,False,False,False,True,True,True,True,True,True,True,True,True,True,True

In [6]:
df.isnull().sum()

Unnamed: 0        0
Player            0
Span              0
Mat               0
Inns             10
NO               10
Runs             10
HS               10
Ave             130
BF               10
SR               19
100              10
50               10
0                10
Unnamed: 13    2500
dtype: int64

In [7]:
sr=pd.Series([1,2,3,np.nan,np.nan,6])
sr.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [8]:
sr.isnull().sum()

2

In [10]:
investment_data=pd.read_csv('INVESTMENT_PF.csv')

In [11]:
in_df=pd.DataFrame(investment_data)

In [12]:
in_df.head()

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%
3,FINANCE,HOME FIRST FINANCE,NaN,40,MID,3.0,15%
4,CONSISTENT/MISC.,RELAXO,37,90,MID,8.0,35%

In [13]:
in_df.isnull().sum()

SECTOR          9
COMPANY         9
CAGR 5YR       18
PE RATIO       14
MARKET CAP     13
MAX ALLC       15
SECTOR ALLC     9
dtype: int64

In [14]:
in_df.shape

(49, 7)

In [17]:
indf=in_df.dropna()

In [18]:
indf.shape

(26, 7)

In [19]:
in_df.shape

(49, 7)

In [21]:
in_df.dropna(how='all')

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%
3,FINANCE,HOME FIRST FINANCE,NaN,40,MID,3.0,15%
4,CONSISTENT/MISC.,RELAXO,37,90,MID,8.0,35%
5,CONSISTENT/MISC.,PIDILITE,27,91,LARGE,8.0,35%
6,CONSISTENT/MISC.,ASTRAL,42,70,LARGE,8.0,35%
7,CONSISTENT/MISC.,DMART,45,150,LARGE,10.0,35%
8,CONSISTENT/MISC.,TITAN,40,85,LARGE,6.0,35%
9,CONSISTENT/MISC.,POLYCAB,57(3YR),33,LARGE,8.0,35%
10,PAINTS,SIRCA PAINTS,25(3YR),41,SMALL,3.0,35%
12,TECH,MIRAE ASSET FANG+,NaN,NaN,ETF,NaN,15%
13,TECH,HAPPIEST MINDS,NaN,80,MID,5.0,15%
14,TECH,LTI,NaN,32,LARGE,6.0,15%
15,TECH,INFOBEANS,46,27,SMALL,3.0,15%
18,FOOD/FMCG,JUBILANT FOOD,50,100,LARGE,5.0,12%
19,FOOD/FMCG,VARUN BEVERAGES,39,54,LARGE,5.0,12%
20,FOOD/FMCG,HINDUSTAN FOODS,70,88,SMALL,3.0,12%
21,FOOD/FMCG,AWL,NaN,0,SMALL,2.0,12%
25,CHEMICAL,VINATI ORGANIC,80,60,MID,3.0,15%
26,CHEMICAL,NEOGEN CHEMICAL,67(3YR),56,SMALL,4.0,15%
27,CHEMICAL,ROSSARI BIOTECH,NaN,70,SMALL,3.0,15%
28,CHEMICAL,CLEANSCIENCE,NaN,90,MID,5.0,15%
29,CHEMICAL,AETHER,NaN,50,SMALL,3.0,15%
30,CHEMICAL,FINE ORGANICS,NaN,40,MID,5.0,15%
33,PIPE,PRINCE PIPE,NEW LISTED,28,MID,4.0,10-15%
34,EV,SONA BLW,NEW LISTED,140,LARGE,2.0,10-15%
35,PLYWOOD,GREENPANEL,NEW LISTED,25,MID,3.0,10-15%
36,AMC,ANGELONE/CAMS,NEW LISTED,17/40,MID,2.0,10-15%
37,ADHESIVE,HP ADHESIVE,NEW LISTED,60,SMALL,2.0,10-15%
38,TECH,AFFLE,NEW LISTED,70,MID,2.0,10-15%
39,TECH,ROUTE MOBILE,NEW LISTED,70,MID,2.0,10-15%
40,FOOTWEAR,CAMPUS,NEW LISTED,400,MID,2.0,10-15%
41,PAINT,INDIGO PAINTS,NEW LISTED,90,MID,4.0,10-15%
42,PHARMA API,SUPRIYA LIFESCIENCE,NEW LISTED,22,SMALL,2.0,10-15%
43,PHARMA API,SIGACHI,NEW LISTED,21,SMALL,2.0,10-15%
44,STEEL PIPES,HARIOM PIPES,NEW LISTED,NaN,NaN,NaN,10-15%
45,RETAIL,MANYAVAR,NEW LISTED,93,MID,NaN,10-15%
46,WIRING BEADS,RAJRATAN GLOBAL,NEW LISTED,NaN,NaN,NaN,10-15%
47,WIRING BEADS,HARSHA ENGG,NEW LISTED,NaN,NaN,NaN,10-15%
48,ENERGY,KPI GREEN,NEW LISTED,NaN,NaN,NaN,10-15%

In [22]:
in_df.dropna(how='any')

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%
4,CONSISTENT/MISC.,RELAXO,37,90,MID,8.0,35%
5,CONSISTENT/MISC.,PIDILITE,27,91,LARGE,8.0,35%
6,CONSISTENT/MISC.,ASTRAL,42,70,LARGE,8.0,35%
7,CONSISTENT/MISC.,DMART,45,150,LARGE,10.0,35%
8,CONSISTENT/MISC.,TITAN,40,85,LARGE,6.0,35%
9,CONSISTENT/MISC.,POLYCAB,57(3YR),33,LARGE,8.0,35%
10,PAINTS,SIRCA PAINTS,25(3YR),41,SMALL,3.0,35%
15,TECH,INFOBEANS,46,27,SMALL,3.0,15%
18,FOOD/FMCG,JUBILANT FOOD,50,100,LARGE,5.0,12%
19,FOOD/FMCG,VARUN BEVERAGES,39,54,LARGE,5.0,12%
20,FOOD/FMCG,HINDUSTAN FOODS,70,88,SMALL,3.0,12%
25,CHEMICAL,VINATI ORGANIC,80,60,MID,3.0,15%
26,CHEMICAL,NEOGEN CHEMICAL,67(3YR),56,SMALL,4.0,15%
33,PIPE,PRINCE PIPE,NEW LISTED,28,MID,4.0,10-15%
34,EV,SONA BLW,NEW LISTED,140,LARGE,2.0,10-15%
35,PLYWOOD,GREENPANEL,NEW LISTED,25,MID,3.0,10-15%
36,AMC,ANGELONE/CAMS,NEW LISTED,17/40,MID,2.0,10-15%
37,ADHESIVE,HP ADHESIVE,NEW LISTED,60,SMALL,2.0,10-15%
38,TECH,AFFLE,NEW LISTED,70,MID,2.0,10-15%
39,TECH,ROUTE MOBILE,NEW LISTED,70,MID,2.0,10-15%
40,FOOTWEAR,CAMPUS,NEW LISTED,400,MID,2.0,10-15%
41,PAINT,INDIGO PAINTS,NEW LISTED,90,MID,4.0,10-15%
42,PHARMA API,SUPRIYA LIFESCIENCE,NEW LISTED,22,SMALL,2.0,10-15%
43,PHARMA API,SIGACHI,NEW LISTED,21,SMALL,2.0,10-15%

In [24]:
# if threshold is 5 then there should be 5 not null values else row will be dropped
in_df.dropna(thresh=5)

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%
3,FINANCE,HOME FIRST FINANCE,NaN,40,MID,3.0,15%
4,CONSISTENT/MISC.,RELAXO,37,90,MID,8.0,35%
5,CONSISTENT/MISC.,PIDILITE,27,91,LARGE,8.0,35%
6,CONSISTENT/MISC.,ASTRAL,42,70,LARGE,8.0,35%
7,CONSISTENT/MISC.,DMART,45,150,LARGE,10.0,35%
8,CONSISTENT/MISC.,TITAN,40,85,LARGE,6.0,35%
9,CONSISTENT/MISC.,POLYCAB,57(3YR),33,LARGE,8.0,35%
10,PAINTS,SIRCA PAINTS,25(3YR),41,SMALL,3.0,35%
13,TECH,HAPPIEST MINDS,NaN,80,MID,5.0,15%
14,TECH,LTI,NaN,32,LARGE,6.0,15%
15,TECH,INFOBEANS,46,27,SMALL,3.0,15%
18,FOOD/FMCG,JUBILANT FOOD,50,100,LARGE,5.0,12%
19,FOOD/FMCG,VARUN BEVERAGES,39,54,LARGE,5.0,12%
20,FOOD/FMCG,HINDUSTAN FOODS,70,88,SMALL,3.0,12%
21,FOOD/FMCG,AWL,NaN,0,SMALL,2.0,12%
25,CHEMICAL,VINATI ORGANIC,80,60,MID,3.0,15%
26,CHEMICAL,NEOGEN CHEMICAL,67(3YR),56,SMALL,4.0,15%
27,CHEMICAL,ROSSARI BIOTECH,NaN,70,SMALL,3.0,15%
28,CHEMICAL,CLEANSCIENCE,NaN,90,MID,5.0,15%
29,CHEMICAL,AETHER,NaN,50,SMALL,3.0,15%
30,CHEMICAL,FINE ORGANICS,NaN,40,MID,5.0,15%
33,PIPE,PRINCE PIPE,NEW LISTED,28,MID,4.0,10-15%
34,EV,SONA BLW,NEW LISTED,140,LARGE,2.0,10-15%
35,PLYWOOD,GREENPANEL,NEW LISTED,25,MID,3.0,10-15%
36,AMC,ANGELONE/CAMS,NEW LISTED,17/40,MID,2.0,10-15%
37,ADHESIVE,HP ADHESIVE,NEW LISTED,60,SMALL,2.0,10-15%
38,TECH,AFFLE,NEW LISTED,70,MID,2.0,10-15%
39,TECH,ROUTE MOBILE,NEW LISTED,70,MID,2.0,10-15%
40,FOOTWEAR,CAMPUS,NEW LISTED,400,MID,2.0,10-15%
41,PAINT,INDIGO PAINTS,NEW LISTED,90,MID,4.0,10-15%
42,PHARMA API,SUPRIYA LIFESCIENCE,NEW LISTED,22,SMALL,2.0,10-15%
43,PHARMA API,SIGACHI,NEW LISTED,21,SMALL,2.0,10-15%
45,RETAIL,MANYAVAR,NEW LISTED,93,MID,NaN,10-15%

In [32]:
in_df.shape

(35, 7)

In [30]:
in_df.columns

Index(['SECTOR', 'COMPANY', 'CAGR 5YR', 'PE RATIO', 'MARKET CAP', 'MAX ALLC',
       'SECTOR ALLC'],
      dtype='object')

In [36]:
in_df.dropna(subset=['CAGR 5YR'],inplace=True)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_15896\3930906311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  in_df.dropna(subset=['CAGR 5YR'],inplace=True)

In [37]:
in_df.dropna(subset=['MAX ALLC'])

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%
4,CONSISTENT/MISC.,RELAXO,37,90,MID,8.0,35%
5,CONSISTENT/MISC.,PIDILITE,27,91,LARGE,8.0,35%
6,CONSISTENT/MISC.,ASTRAL,42,70,LARGE,8.0,35%
7,CONSISTENT/MISC.,DMART,45,150,LARGE,10.0,35%
8,CONSISTENT/MISC.,TITAN,40,85,LARGE,6.0,35%
9,CONSISTENT/MISC.,POLYCAB,57(3YR),33,LARGE,8.0,35%
10,PAINTS,SIRCA PAINTS,25(3YR),41,SMALL,3.0,35%
15,TECH,INFOBEANS,46,27,SMALL,3.0,15%
18,FOOD/FMCG,JUBILANT FOOD,50,100,LARGE,5.0,12%
19,FOOD/FMCG,VARUN BEVERAGES,39,54,LARGE,5.0,12%
20,FOOD/FMCG,HINDUSTAN FOODS,70,88,SMALL,3.0,12%
25,CHEMICAL,VINATI ORGANIC,80,60,MID,3.0,15%
26,CHEMICAL,NEOGEN CHEMICAL,67(3YR),56,SMALL,4.0,15%
33,PIPE,PRINCE PIPE,NEW LISTED,28,MID,4.0,10-15%
34,EV,SONA BLW,NEW LISTED,140,LARGE,2.0,10-15%
35,PLYWOOD,GREENPANEL,NEW LISTED,25,MID,3.0,10-15%
36,AMC,ANGELONE/CAMS,NEW LISTED,17/40,MID,2.0,10-15%
37,ADHESIVE,HP ADHESIVE,NEW LISTED,60,SMALL,2.0,10-15%
38,TECH,AFFLE,NEW LISTED,70,MID,2.0,10-15%
39,TECH,ROUTE MOBILE,NEW LISTED,70,MID,2.0,10-15%
40,FOOTWEAR,CAMPUS,NEW LISTED,400,MID,2.0,10-15%
41,PAINT,INDIGO PAINTS,NEW LISTED,90,MID,4.0,10-15%
42,PHARMA API,SUPRIYA LIFESCIENCE,NEW LISTED,22,SMALL,2.0,10-15%
43,PHARMA API,SIGACHI,NEW LISTED,21,SMALL,2.0,10-15%

In [38]:
in_df.shape

(27, 7)

### fillna

In [42]:
inv=pd.DataFrame(investment_data)

In [44]:
inv

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%
3,FINANCE,HOME FIRST FINANCE,NaN,40,MID,3.0,15%
4,CONSISTENT/MISC.,RELAXO,37,90,MID,8.0,35%
5,CONSISTENT/MISC.,PIDILITE,27,91,LARGE,8.0,35%
6,CONSISTENT/MISC.,ASTRAL,42,70,LARGE,8.0,35%
7,CONSISTENT/MISC.,DMART,45,150,LARGE,10.0,35%
8,CONSISTENT/MISC.,TITAN,40,85,LARGE,6.0,35%
9,CONSISTENT/MISC.,POLYCAB,57(3YR),33,LARGE,8.0,35%
10,PAINTS,SIRCA PAINTS,25(3YR),41,SMALL,3.0,35%
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,TECH,MIRAE ASSET FANG+,NaN,NaN,ETF,NaN,15%
13,TECH,HAPPIEST MINDS,NaN,80,MID,5.0,15%
14,TECH,LTI,NaN,32,LARGE,6.0,15%
15,TECH,INFOBEANS,46,27,SMALL,3.0,15%
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,FOOD/FMCG,JUBILANT FOOD,50,100,LARGE,5.0,12%
19,FOOD/FMCG,VARUN BEVERAGES,39,54,LARGE,5.0,12%
20,FOOD/FMCG,HINDUSTAN FOODS,70,88,SMALL,3.0,12%
21,FOOD/FMCG,AWL,NaN,0,SMALL,2.0,12%
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,CHEMICAL,VINATI ORGANIC,80,60,MID,3.0,15%
26,CHEMICAL,NEOGEN CHEMICAL,67(3YR),56,SMALL,4.0,15%
27,CHEMICAL,ROSSARI BIOTECH,NaN,70,SMALL,3.0,15%
28,CHEMICAL,CLEANSCIENCE,NaN,90,MID,5.0,15%
29,CHEMICAL,AETHER,NaN,50,SMALL,3.0,15%
30,CHEMICAL,FINE ORGANICS,NaN,40,MID,5.0,15%
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,PIPE,PRINCE PIPE,NEW LISTED,28,MID,4.0,10-15%
34,EV,SONA BLW,NEW LISTED,140,LARGE,2.0,10-15%
35,PLYWOOD,GREENPANEL,NEW LISTED,25,MID,3.0,10-15%
36,AMC,ANGELONE/CAMS,NEW LISTED,17/40,MID,2.0,10-15%
37,ADHESIVE,HP ADHESIVE,NEW LISTED,60,SMALL,2.0,10-15%
38,TECH,AFFLE,NEW LISTED,70,MID,2.0,10-15%
39,TECH,ROUTE MOBILE,NEW LISTED,70,MID,2.0,10-15%
40,FOOTWEAR,CAMPUS,NEW LISTED,400,MID,2.0,10-15%
41,PAINT,INDIGO PAINTS,NEW LISTED,90,MID,4.0,10-15%
42,PHARMA API,SUPRIYA LIFESCIENCE,NEW LISTED,22,SMALL,2.0,10-15%
43,PHARMA API,SIGACHI,NEW LISTED,21,SMALL,2.0,10-15%
44,STEEL PIPES,HARIOM PIPES,NEW LISTED,NaN,NaN,NaN,10-15%
45,RETAIL,MANYAVAR,NEW LISTED,93,MID,NaN,10-15%
46,WIRING BEADS,RAJRATAN GLOBAL,NEW LISTED,NaN,NaN,NaN,10-15%
47,WIRING BEADS,HARSHA ENGG,NEW LISTED,NaN,NaN,NaN,10-15%
48,ENERGY,KPI GREEN,NEW LISTED,NaN,NaN,NaN,10-15%

In [47]:
inv.dropna(how='all',inplace=True)

In [48]:
inv.shape

(40, 7)

In [49]:
# fill scalar value
inv.fillna(0)

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%
3,FINANCE,HOME FIRST FINANCE,0,40,MID,3.0,15%
4,CONSISTENT/MISC.,RELAXO,37,90,MID,8.0,35%
5,CONSISTENT/MISC.,PIDILITE,27,91,LARGE,8.0,35%
6,CONSISTENT/MISC.,ASTRAL,42,70,LARGE,8.0,35%
7,CONSISTENT/MISC.,DMART,45,150,LARGE,10.0,35%
8,CONSISTENT/MISC.,TITAN,40,85,LARGE,6.0,35%
9,CONSISTENT/MISC.,POLYCAB,57(3YR),33,LARGE,8.0,35%
10,PAINTS,SIRCA PAINTS,25(3YR),41,SMALL,3.0,35%
12,TECH,MIRAE ASSET FANG+,0,0,ETF,0.0,15%
13,TECH,HAPPIEST MINDS,0,80,MID,5.0,15%
14,TECH,LTI,0,32,LARGE,6.0,15%
15,TECH,INFOBEANS,46,27,SMALL,3.0,15%
18,FOOD/FMCG,JUBILANT FOOD,50,100,LARGE,5.0,12%
19,FOOD/FMCG,VARUN BEVERAGES,39,54,LARGE,5.0,12%
20,FOOD/FMCG,HINDUSTAN FOODS,70,88,SMALL,3.0,12%
21,FOOD/FMCG,AWL,0,0,SMALL,2.0,12%
25,CHEMICAL,VINATI ORGANIC,80,60,MID,3.0,15%
26,CHEMICAL,NEOGEN CHEMICAL,67(3YR),56,SMALL,4.0,15%
27,CHEMICAL,ROSSARI BIOTECH,0,70,SMALL,3.0,15%
28,CHEMICAL,CLEANSCIENCE,0,90,MID,5.0,15%
29,CHEMICAL,AETHER,0,50,SMALL,3.0,15%
30,CHEMICAL,FINE ORGANICS,0,40,MID,5.0,15%
33,PIPE,PRINCE PIPE,NEW LISTED,28,MID,4.0,10-15%
34,EV,SONA BLW,NEW LISTED,140,LARGE,2.0,10-15%
35,PLYWOOD,GREENPANEL,NEW LISTED,25,MID,3.0,10-15%
36,AMC,ANGELONE/CAMS,NEW LISTED,17/40,MID,2.0,10-15%
37,ADHESIVE,HP ADHESIVE,NEW LISTED,60,SMALL,2.0,10-15%
38,TECH,AFFLE,NEW LISTED,70,MID,2.0,10-15%
39,TECH,ROUTE MOBILE,NEW LISTED,70,MID,2.0,10-15%
40,FOOTWEAR,CAMPUS,NEW LISTED,400,MID,2.0,10-15%
41,PAINT,INDIGO PAINTS,NEW LISTED,90,MID,4.0,10-15%
42,PHARMA API,SUPRIYA LIFESCIENCE,NEW LISTED,22,SMALL,2.0,10-15%
43,PHARMA API,SIGACHI,NEW LISTED,21,SMALL,2.0,10-15%
44,STEEL PIPES,HARIOM PIPES,NEW LISTED,0,0,0.0,10-15%
45,RETAIL,MANYAVAR,NEW LISTED,93,MID,0.0,10-15%
46,WIRING BEADS,RAJRATAN GLOBAL,NEW LISTED,0,0,0.0,10-15%
47,WIRING BEADS,HARSHA ENGG,NEW LISTED,0,0,0.0,10-15%
48,ENERGY,KPI GREEN,NEW LISTED,0,0,0.0,10-15%

In [51]:
#fill previous row value 
#can also use pad instead of ffill
#fill next row value 'bfill'
inv.fillna(method='ffill')

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%
3,FINANCE,HOME FIRST FINANCE,24(3YR),40,MID,3.0,15%
4,CONSISTENT/MISC.,RELAXO,37,90,MID,8.0,35%
5,CONSISTENT/MISC.,PIDILITE,27,91,LARGE,8.0,35%
6,CONSISTENT/MISC.,ASTRAL,42,70,LARGE,8.0,35%
7,CONSISTENT/MISC.,DMART,45,150,LARGE,10.0,35%
8,CONSISTENT/MISC.,TITAN,40,85,LARGE,6.0,35%
9,CONSISTENT/MISC.,POLYCAB,57(3YR),33,LARGE,8.0,35%
10,PAINTS,SIRCA PAINTS,25(3YR),41,SMALL,3.0,35%
12,TECH,MIRAE ASSET FANG+,25(3YR),41,ETF,3.0,15%
13,TECH,HAPPIEST MINDS,25(3YR),80,MID,5.0,15%
14,TECH,LTI,25(3YR),32,LARGE,6.0,15%
15,TECH,INFOBEANS,46,27,SMALL,3.0,15%
18,FOOD/FMCG,JUBILANT FOOD,50,100,LARGE,5.0,12%
19,FOOD/FMCG,VARUN BEVERAGES,39,54,LARGE,5.0,12%
20,FOOD/FMCG,HINDUSTAN FOODS,70,88,SMALL,3.0,12%
21,FOOD/FMCG,AWL,70,0,SMALL,2.0,12%
25,CHEMICAL,VINATI ORGANIC,80,60,MID,3.0,15%
26,CHEMICAL,NEOGEN CHEMICAL,67(3YR),56,SMALL,4.0,15%
27,CHEMICAL,ROSSARI BIOTECH,67(3YR),70,SMALL,3.0,15%
28,CHEMICAL,CLEANSCIENCE,67(3YR),90,MID,5.0,15%
29,CHEMICAL,AETHER,67(3YR),50,SMALL,3.0,15%
30,CHEMICAL,FINE ORGANICS,67(3YR),40,MID,5.0,15%
33,PIPE,PRINCE PIPE,NEW LISTED,28,MID,4.0,10-15%
34,EV,SONA BLW,NEW LISTED,140,LARGE,2.0,10-15%
35,PLYWOOD,GREENPANEL,NEW LISTED,25,MID,3.0,10-15%
36,AMC,ANGELONE/CAMS,NEW LISTED,17/40,MID,2.0,10-15%
37,ADHESIVE,HP ADHESIVE,NEW LISTED,60,SMALL,2.0,10-15%
38,TECH,AFFLE,NEW LISTED,70,MID,2.0,10-15%
39,TECH,ROUTE MOBILE,NEW LISTED,70,MID,2.0,10-15%
40,FOOTWEAR,CAMPUS,NEW LISTED,400,MID,2.0,10-15%
41,PAINT,INDIGO PAINTS,NEW LISTED,90,MID,4.0,10-15%
42,PHARMA API,SUPRIYA LIFESCIENCE,NEW LISTED,22,SMALL,2.0,10-15%
43,PHARMA API,SIGACHI,NEW LISTED,21,SMALL,2.0,10-15%
44,STEEL PIPES,HARIOM PIPES,NEW LISTED,21,SMALL,2.0,10-15%
45,RETAIL,MANYAVAR,NEW LISTED,93,MID,2.0,10-15%
46,WIRING BEADS,RAJRATAN GLOBAL,NEW LISTED,93,MID,2.0,10-15%
47,WIRING BEADS,HARSHA ENGG,NEW LISTED,93,MID,2.0,10-15%
48,ENERGY,KPI GREEN,NEW LISTED,93,MID,2.0,10-15%

In [54]:
inv.isnull().sum()

SECTOR         0
COMPANY        0
CAGR 5YR       9
PE RATIO       5
MARKET CAP     4
MAX ALLC       6
SECTOR ALLC    0
dtype: int64

### replace

In [60]:
inv.replace(to_replace='CONSISTENT/MISC.', value='MISC',inplace=True)

In [61]:
inv

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%
3,FINANCE,HOME FIRST FINANCE,NaN,40,MID,3.0,15%
4,MISC,RELAXO,37,90,MID,8.0,35%
5,MISC,PIDILITE,27,91,LARGE,8.0,35%
6,MISC,ASTRAL,42,70,LARGE,8.0,35%
7,MISC,DMART,45,150,LARGE,10.0,35%
8,MISC,TITAN,40,85,LARGE,6.0,35%
9,MISC,POLYCAB,57(3YR),33,LARGE,8.0,35%
10,PAINTS,SIRCA PAINTS,25(3YR),41,SMALL,3.0,35%
12,TECH,MIRAE ASSET FANG+,NaN,NaN,ETF,NaN,15%
13,TECH,HAPPIEST MINDS,NaN,80,MID,5.0,15%
14,TECH,LTI,NaN,32,LARGE,6.0,15%
15,TECH,INFOBEANS,46,27,SMALL,3.0,15%
18,FOOD/FMCG,JUBILANT FOOD,50,100,LARGE,5.0,12%
19,FOOD/FMCG,VARUN BEVERAGES,39,54,LARGE,5.0,12%
20,FOOD/FMCG,HINDUSTAN FOODS,70,88,SMALL,3.0,12%
21,FOOD/FMCG,AWL,NaN,0,SMALL,2.0,12%
25,CHEMICAL,VINATI ORGANIC,80,60,MID,3.0,15%
26,CHEMICAL,NEOGEN CHEMICAL,67(3YR),56,SMALL,4.0,15%
27,CHEMICAL,ROSSARI BIOTECH,NaN,70,SMALL,3.0,15%
28,CHEMICAL,CLEANSCIENCE,NaN,90,MID,5.0,15%
29,CHEMICAL,AETHER,NaN,50,SMALL,3.0,15%
30,CHEMICAL,FINE ORGANICS,NaN,40,MID,5.0,15%
33,PIPE,PRINCE PIPE,NEW LISTED,28,MID,4.0,10-15%
34,EV,SONA BLW,NEW LISTED,140,LARGE,2.0,10-15%
35,PLYWOOD,GREENPANEL,NEW LISTED,25,MID,3.0,10-15%
36,AMC,ANGELONE/CAMS,NEW LISTED,17/40,MID,2.0,10-15%
37,ADHESIVE,HP ADHESIVE,NEW LISTED,60,SMALL,2.0,10-15%
38,TECH,AFFLE,NEW LISTED,70,MID,2.0,10-15%
39,TECH,ROUTE MOBILE,NEW LISTED,70,MID,2.0,10-15%
40,FOOTWEAR,CAMPUS,NEW LISTED,400,MID,2.0,10-15%
41,PAINT,INDIGO PAINTS,NEW LISTED,90,MID,4.0,10-15%
42,PHARMA API,SUPRIYA LIFESCIENCE,NEW LISTED,22,SMALL,2.0,10-15%
43,PHARMA API,SIGACHI,NEW LISTED,21,SMALL,2.0,10-15%
44,STEEL PIPES,HARIOM PIPES,NEW LISTED,NaN,NaN,NaN,10-15%
45,RETAIL,MANYAVAR,NEW LISTED,93,MID,NaN,10-15%
46,WIRING BEADS,RAJRATAN GLOBAL,NEW LISTED,NaN,NaN,NaN,10-15%
47,WIRING BEADS,HARSHA ENGG,NEW LISTED,NaN,NaN,NaN,10-15%
48,ENERGY,KPI GREEN,NEW LISTED,NaN,NaN,NaN,10-15%

In [62]:
inv.replace('FOOD/FMCG','CONSUMER',inplace=True)

In [63]:
inv

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%
3,FINANCE,HOME FIRST FINANCE,NaN,40,MID,3.0,15%
4,MISC,RELAXO,37,90,MID,8.0,35%
5,MISC,PIDILITE,27,91,LARGE,8.0,35%
6,MISC,ASTRAL,42,70,LARGE,8.0,35%
7,MISC,DMART,45,150,LARGE,10.0,35%
8,MISC,TITAN,40,85,LARGE,6.0,35%
9,MISC,POLYCAB,57(3YR),33,LARGE,8.0,35%
10,PAINTS,SIRCA PAINTS,25(3YR),41,SMALL,3.0,35%
12,TECH,MIRAE ASSET FANG+,NaN,NaN,ETF,NaN,15%
13,TECH,HAPPIEST MINDS,NaN,80,MID,5.0,15%
14,TECH,LTI,NaN,32,LARGE,6.0,15%
15,TECH,INFOBEANS,46,27,SMALL,3.0,15%
18,CONSUMER,JUBILANT FOOD,50,100,LARGE,5.0,12%
19,CONSUMER,VARUN BEVERAGES,39,54,LARGE,5.0,12%
20,CONSUMER,HINDUSTAN FOODS,70,88,SMALL,3.0,12%
21,CONSUMER,AWL,NaN,0,SMALL,2.0,12%
25,CHEMICAL,VINATI ORGANIC,80,60,MID,3.0,15%
26,CHEMICAL,NEOGEN CHEMICAL,67(3YR),56,SMALL,4.0,15%
27,CHEMICAL,ROSSARI BIOTECH,NaN,70,SMALL,3.0,15%
28,CHEMICAL,CLEANSCIENCE,NaN,90,MID,5.0,15%
29,CHEMICAL,AETHER,NaN,50,SMALL,3.0,15%
30,CHEMICAL,FINE ORGANICS,NaN,40,MID,5.0,15%
33,PIPE,PRINCE PIPE,NEW LISTED,28,MID,4.0,10-15%
34,EV,SONA BLW,NEW LISTED,140,LARGE,2.0,10-15%
35,PLYWOOD,GREENPANEL,NEW LISTED,25,MID,3.0,10-15%
36,AMC,ANGELONE/CAMS,NEW LISTED,17/40,MID,2.0,10-15%
37,ADHESIVE,HP ADHESIVE,NEW LISTED,60,SMALL,2.0,10-15%
38,TECH,AFFLE,NEW LISTED,70,MID,2.0,10-15%
39,TECH,ROUTE MOBILE,NEW LISTED,70,MID,2.0,10-15%
40,FOOTWEAR,CAMPUS,NEW LISTED,400,MID,2.0,10-15%
41,PAINT,INDIGO PAINTS,NEW LISTED,90,MID,4.0,10-15%
42,PHARMA API,SUPRIYA LIFESCIENCE,NEW LISTED,22,SMALL,2.0,10-15%
43,PHARMA API,SIGACHI,NEW LISTED,21,SMALL,2.0,10-15%
44,STEEL PIPES,HARIOM PIPES,NEW LISTED,NaN,NaN,NaN,10-15%
45,RETAIL,MANYAVAR,NEW LISTED,93,MID,NaN,10-15%
46,WIRING BEADS,RAJRATAN GLOBAL,NEW LISTED,NaN,NaN,NaN,10-15%
47,WIRING BEADS,HARSHA ENGG,NEW LISTED,NaN,NaN,NaN,10-15%
48,ENERGY,KPI GREEN,NEW LISTED,NaN,NaN,NaN,10-15%

In [66]:
inv.replace({'CAGR 5YR':'NEW LISTED'},'-',inplace=True)

In [67]:
inv

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%
3,FINANCE,HOME FIRST FINANCE,NaN,40,MID,3.0,15%
4,MISC,RELAXO,37,90,MID,8.0,35%
5,MISC,PIDILITE,27,91,LARGE,8.0,35%
6,MISC,ASTRAL,42,70,LARGE,8.0,35%
7,MISC,DMART,45,150,LARGE,10.0,35%
8,MISC,TITAN,40,85,LARGE,6.0,35%
9,MISC,POLYCAB,57(3YR),33,LARGE,8.0,35%
10,PAINTS,SIRCA PAINTS,25(3YR),41,SMALL,3.0,35%
12,TECH,MIRAE ASSET FANG+,NaN,NaN,ETF,NaN,15%
13,TECH,HAPPIEST MINDS,NaN,80,MID,5.0,15%
14,TECH,LTI,NaN,32,LARGE,6.0,15%
15,TECH,INFOBEANS,46,27,SMALL,3.0,15%
18,CONSUMER,JUBILANT FOOD,50,100,LARGE,5.0,12%
19,CONSUMER,VARUN BEVERAGES,39,54,LARGE,5.0,12%
20,CONSUMER,HINDUSTAN FOODS,70,88,SMALL,3.0,12%
21,CONSUMER,AWL,NaN,0,SMALL,2.0,12%
25,CHEMICAL,VINATI ORGANIC,80,60,MID,3.0,15%
26,CHEMICAL,NEOGEN CHEMICAL,67(3YR),56,SMALL,4.0,15%
27,CHEMICAL,ROSSARI BIOTECH,NaN,70,SMALL,3.0,15%
28,CHEMICAL,CLEANSCIENCE,NaN,90,MID,5.0,15%
29,CHEMICAL,AETHER,NaN,50,SMALL,3.0,15%
30,CHEMICAL,FINE ORGANICS,NaN,40,MID,5.0,15%
33,PIPE,PRINCE PIPE,-,28,MID,4.0,10-15%
34,EV,SONA BLW,-,140,LARGE,2.0,10-15%
35,PLYWOOD,GREENPANEL,-,25,MID,3.0,10-15%
36,AMC,ANGELONE/CAMS,-,17/40,MID,2.0,10-15%
37,ADHESIVE,HP ADHESIVE,-,60,SMALL,2.0,10-15%
38,TECH,AFFLE,-,70,MID,2.0,10-15%
39,TECH,ROUTE MOBILE,-,70,MID,2.0,10-15%
40,FOOTWEAR,CAMPUS,-,400,MID,2.0,10-15%
41,PAINT,INDIGO PAINTS,-,90,MID,4.0,10-15%
42,PHARMA API,SUPRIYA LIFESCIENCE,-,22,SMALL,2.0,10-15%
43,PHARMA API,SIGACHI,-,21,SMALL,2.0,10-15%
44,STEEL PIPES,HARIOM PIPES,-,NaN,NaN,NaN,10-15%
45,RETAIL,MANYAVAR,-,93,MID,NaN,10-15%
46,WIRING BEADS,RAJRATAN GLOBAL,-,NaN,NaN,NaN,10-15%
47,WIRING BEADS,HARSHA ENGG,-,NaN,NaN,NaN,10-15%
48,ENERGY,KPI GREEN,-,NaN,NaN,NaN,10-15%

### interpolate

In [69]:
#interpolate is used to fill nan values based on guessing by its own
#works well on numbers and not on strings
inv.interpolate()

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%
3,FINANCE,HOME FIRST FINANCE,NaN,40,MID,3.0,15%
4,MISC,RELAXO,37,90,MID,8.0,35%
5,MISC,PIDILITE,27,91,LARGE,8.0,35%
6,MISC,ASTRAL,42,70,LARGE,8.0,35%
7,MISC,DMART,45,150,LARGE,10.0,35%
8,MISC,TITAN,40,85,LARGE,6.0,35%
9,MISC,POLYCAB,57(3YR),33,LARGE,8.0,35%
10,PAINTS,SIRCA PAINTS,25(3YR),41,SMALL,3.0,35%
12,TECH,MIRAE ASSET FANG+,NaN,NaN,ETF,4.0,15%
13,TECH,HAPPIEST MINDS,NaN,80,MID,5.0,15%
14,TECH,LTI,NaN,32,LARGE,6.0,15%
15,TECH,INFOBEANS,46,27,SMALL,3.0,15%
18,CONSUMER,JUBILANT FOOD,50,100,LARGE,5.0,12%
19,CONSUMER,VARUN BEVERAGES,39,54,LARGE,5.0,12%
20,CONSUMER,HINDUSTAN FOODS,70,88,SMALL,3.0,12%
21,CONSUMER,AWL,NaN,0,SMALL,2.0,12%
25,CHEMICAL,VINATI ORGANIC,80,60,MID,3.0,15%
26,CHEMICAL,NEOGEN CHEMICAL,67(3YR),56,SMALL,4.0,15%
27,CHEMICAL,ROSSARI BIOTECH,NaN,70,SMALL,3.0,15%
28,CHEMICAL,CLEANSCIENCE,NaN,90,MID,5.0,15%
29,CHEMICAL,AETHER,NaN,50,SMALL,3.0,15%
30,CHEMICAL,FINE ORGANICS,NaN,40,MID,5.0,15%
33,PIPE,PRINCE PIPE,-,28,MID,4.0,10-15%
34,EV,SONA BLW,-,140,LARGE,2.0,10-15%
35,PLYWOOD,GREENPANEL,-,25,MID,3.0,10-15%
36,AMC,ANGELONE/CAMS,-,17/40,MID,2.0,10-15%
37,ADHESIVE,HP ADHESIVE,-,60,SMALL,2.0,10-15%
38,TECH,AFFLE,-,70,MID,2.0,10-15%
39,TECH,ROUTE MOBILE,-,70,MID,2.0,10-15%
40,FOOTWEAR,CAMPUS,-,400,MID,2.0,10-15%
41,PAINT,INDIGO PAINTS,-,90,MID,4.0,10-15%
42,PHARMA API,SUPRIYA LIFESCIENCE,-,22,SMALL,2.0,10-15%
43,PHARMA API,SIGACHI,-,21,SMALL,2.0,10-15%
44,STEEL PIPES,HARIOM PIPES,-,NaN,NaN,2.0,10-15%
45,RETAIL,MANYAVAR,-,93,MID,2.0,10-15%
46,WIRING BEADS,RAJRATAN GLOBAL,-,NaN,NaN,2.0,10-15%
47,WIRING BEADS,HARSHA ENGG,-,NaN,NaN,2.0,10-15%
48,ENERGY,KPI GREEN,-,NaN,NaN,2.0,10-15%

### loc & iloc

In [74]:
#access particular row
inv.loc[1]

SECTOR               FINANCE
COMPANY        BAJAJ FINANCE
CAGR 5YR                  40
PE RATIO                  52
MARKET CAP             LARGE
MAX ALLC                10.0
SECTOR ALLC              15%
Name: 1, dtype: object

In [76]:
#access list of rows
inv.loc[[1,4]]

    SECTOR        COMPANY CAGR 5YR PE RATIO MARKET CAP  MAX ALLC SECTOR ALLC
1  FINANCE  BAJAJ FINANCE       40       52      LARGE      10.0         15%
4     MISC         RELAXO       37       90        MID       8.0         35%

In [80]:
#access value from row and column 
inv.loc[3,'PE RATIO']

'40'

In [82]:
inv.loc[1:10,'COMPANY']

1          BAJAJ FINANCE
2       AAVAS FINANCIERS
3     HOME FIRST FINANCE
4                 RELAXO
5               PIDILITE
6                 ASTRAL
7                  DMART
8                  TITAN
9                POLYCAB
10          SIRCA PAINTS
Name: COMPANY, dtype: object

In [85]:
inv.loc[inv['MAX ALLC']>5.0]

     SECTOR        COMPANY CAGR 5YR PE RATIO MARKET CAP  MAX ALLC SECTOR ALLC
1   FINANCE  BAJAJ FINANCE       40       52      LARGE      10.0         15%
4      MISC         RELAXO       37       90        MID       8.0         35%
5      MISC       PIDILITE       27       91      LARGE       8.0         35%
6      MISC         ASTRAL       42       70      LARGE       8.0         35%
7      MISC          DMART       45      150      LARGE      10.0         35%
8      MISC          TITAN       40       85      LARGE       6.0         35%
9      MISC        POLYCAB  57(3YR)       33      LARGE       8.0         35%
14     TECH            LTI      NaN       32      LARGE       6.0         15%

In [89]:
inv.loc[inv['MAX ALLC']>5.0,['COMPANY']]

          COMPANY
1   BAJAJ FINANCE
4          RELAXO
5        PIDILITE
6          ASTRAL
7           DMART
8           TITAN
9         POLYCAB
14            LTI

In [92]:
inv.loc[inv['MARKET CAP']=='LARGE']

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
5,MISC,PIDILITE,27,91,LARGE,8.0,35%
6,MISC,ASTRAL,42,70,LARGE,8.0,35%
7,MISC,DMART,45,150,LARGE,10.0,35%
8,MISC,TITAN,40,85,LARGE,6.0,35%
9,MISC,POLYCAB,57(3YR),33,LARGE,8.0,35%
14,TECH,LTI,NaN,32,LARGE,6.0,15%
18,CONSUMER,JUBILANT FOOD,50,100,LARGE,5.0,12%
19,CONSUMER,VARUN BEVERAGES,39,54,LARGE,5.0,12%
34,EV,SONA BLW,-,140,LARGE,2.0,10-15%

In [95]:
inv.iloc[1]

SECTOR                  FINANCE
COMPANY        AAVAS FINANCIERS
CAGR 5YR                24(3YR)
PE RATIO                     55
MARKET CAP                  MID
MAX ALLC                    5.0
SECTOR ALLC                 15%
Name: 2, dtype: object

In [97]:
inv.iloc[0,1]

'BAJAJ FINANCE'

In [98]:
inv.iloc[[0,1]]

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%

In [101]:
inv.iloc[0:5,1]

1         BAJAJ FINANCE
2      AAVAS FINANCIERS
3    HOME FIRST FINANCE
4                RELAXO
5              PIDILITE
Name: COMPANY, dtype: object

### groupby

In [105]:
inv.dropna(subset='MARKET CAP',inplace=True)

In [106]:
inv

,SECTOR,COMPANY,CAGR 5YR,PE RATIO,MARKET CAP,MAX ALLC,SECTOR ALLC
1,FINANCE,BAJAJ FINANCE,40,52,LARGE,10.0,15%
2,FINANCE,AAVAS FINANCIERS,24(3YR),55,MID,5.0,15%
3,FINANCE,HOME FIRST FINANCE,NaN,40,MID,3.0,15%
4,MISC,RELAXO,37,90,MID,8.0,35%
5,MISC,PIDILITE,27,91,LARGE,8.0,35%
6,MISC,ASTRAL,42,70,LARGE,8.0,35%
7,MISC,DMART,45,150,LARGE,10.0,35%
8,MISC,TITAN,40,85,LARGE,6.0,35%
9,MISC,POLYCAB,57(3YR),33,LARGE,8.0,35%
10,PAINTS,SIRCA PAINTS,25(3YR),41,SMALL,3.0,35%
12,TECH,MIRAE ASSET FANG+,NaN,NaN,ETF,NaN,15%
13,TECH,HAPPIEST MINDS,NaN,80,MID,5.0,15%
14,TECH,LTI,NaN,32,LARGE,6.0,15%
15,TECH,INFOBEANS,46,27,SMALL,3.0,15%
18,CONSUMER,JUBILANT FOOD,50,100,LARGE,5.0,12%
19,CONSUMER,VARUN BEVERAGES,39,54,LARGE,5.0,12%
20,CONSUMER,HINDUSTAN FOODS,70,88,SMALL,3.0,12%
21,CONSUMER,AWL,NaN,0,SMALL,2.0,12%
25,CHEMICAL,VINATI ORGANIC,80,60,MID,3.0,15%
26,CHEMICAL,NEOGEN CHEMICAL,67(3YR),56,SMALL,4.0,15%
27,CHEMICAL,ROSSARI BIOTECH,NaN,70,SMALL,3.0,15%
28,CHEMICAL,CLEANSCIENCE,NaN,90,MID,5.0,15%
29,CHEMICAL,AETHER,NaN,50,SMALL,3.0,15%
30,CHEMICAL,FINE ORGANICS,NaN,40,MID,5.0,15%
33,PIPE,PRINCE PIPE,-,28,MID,4.0,10-15%
34,EV,SONA BLW,-,140,LARGE,2.0,10-15%
35,PLYWOOD,GREENPANEL,-,25,MID,3.0,10-15%
36,AMC,ANGELONE/CAMS,-,17/40,MID,2.0,10-15%
37,ADHESIVE,HP ADHESIVE,-,60,SMALL,2.0,10-15%
38,TECH,AFFLE,-,70,MID,2.0,10-15%
39,TECH,ROUTE MOBILE,-,70,MID,2.0,10-15%
40,FOOTWEAR,CAMPUS,-,400,MID,2.0,10-15%
41,PAINT,INDIGO PAINTS,-,90,MID,4.0,10-15%
42,PHARMA API,SUPRIYA LIFESCIENCE,-,22,SMALL,2.0,10-15%
43,PHARMA API,SIGACHI,-,21,SMALL,2.0,10-15%
45,RETAIL,MANYAVAR,-,93,MID,NaN,10-15%

In [108]:
gr=inv.groupby(by='MARKET CAP')

In [109]:
gr

In [110]:
gr.groups

{'ETF': [12], 'LARGE': [1, 5, 6, 7, 8, 9, 14, 18, 19, 34], 'MID': [2, 3, 4, 13, 25, 28, 30, 33, 35, 36, 38, 39, 40, 41, 45], 'SMALL': [10, 15, 20, 21, 26, 27, 29, 37, 42, 43]}

In [111]:
gr2=inv.groupby(['MARKET CAP','SECTOR']).groups

In [112]:
list(gr2)

[('ETF', 'TECH'),
 ('LARGE', 'CONSUMER'),
 ('LARGE', 'EV'),
 ('LARGE', 'FINANCE'),
 ('LARGE', 'MISC'),
 ('LARGE', 'TECH'),
 ('MID', 'AMC'),
 ('MID', 'CHEMICAL'),
 ('MID', 'FINANCE'),
 ('MID', 'FOOTWEAR'),
 ('MID', 'MISC'),
 ('MID', 'PAINT'),
 ('MID', 'PIPE'),
 ('MID', 'PLYWOOD'),
 ('MID', 'RETAIL'),
 ('MID', 'TECH'),
 ('SMALL', 'ADHESIVE'),
 ('SMALL', 'CHEMICAL'),
 ('SMALL', 'CONSUMER'),
 ('SMALL', 'PAINTS'),
 ('SMALL', 'PHARMA API'),
 ('SMALL', 'TECH')]

## merge df

In [115]:
mdf1=pd.DataFrame({'id':[1,2,3,4],'name':['A','B','C','D']})

In [116]:
mdf2=pd.DataFrame({'id':[1,2,3,4],'marks':['88','92','79','100']})

In [119]:
#on should take common col in both df
pd.merge(mdf1,mdf2,on='id')

   id name marks
0   1    A    88
1   2    B    92
2   3    C    79
3   4    D   100

In [120]:
mdf2=pd.DataFrame({'id':[1,2,3,5],'marks':['88','92','79','100']})

In [121]:
#only common values in id col are merged i.e. 1,2,3 
#similar to inner join
pd.merge(mdf1,mdf2,on='id')

   id name marks
0   1    A    88
1   2    B    92
2   3    C    79

In [122]:
#left join
pd.merge(mdf1,mdf2,on='id',how='left')

   id name marks
0   1    A    88
1   2    B    92
2   3    C    79
3   4    D   NaN

In [123]:
#outer join
pd.merge(mdf1,mdf2,on='id',how='outer')

   id name marks
0   1    A    88
1   2    B    92
2   3    C    79
3   4    D   NaN
4   5  NaN   100

In [124]:
#indicator
pd.merge(mdf1,mdf2,on='id',how='outer',indicator=True)

   id name marks      _merge
0   1    A    88        both
1   2    B    92        both
2   3    C    79        both
3   4    D   NaN   left_only
4   5  NaN   100  right_only

In [125]:
mdf3=pd.DataFrame({'id':[5,6,7,8],'marks':['88','92','79','100']})

In [126]:
#used when no common values to join
pd.merge(mdf1,mdf3,left_index=True,right_index=True)

   id_x name  id_y marks
0     1    A     5    88
1     2    B     6    92
2     3    C     7    79
3     4    D     8   100

### saving df as csv file

In [127]:
inv.to_csv('portfolio.csv')